# Configuración opcional para Spotify Developer
# Puedes ingresar estos datos directamente en la interfaz web de la aplicación
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/api/spotify/callback
PORT=8000
HOST=127.0.0.1
